.menu-btn {
  position: fixed;
  top: 2.25rem;
  right: 2.25rem;
  width: 25px;
  height: 20px;
  z-index: 1002;
  cursor: pointer;
  @include transition-ease;

  &__hamburger {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 25px;
    height: 3px;
    background: $gray-900;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      width: 20px;
      height: 3px;
      background: $gray-900;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 6px;
      width: 30px;
      height: 3px;
      background: $gray-900;
      @include transition-ease;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        background: $gray-100;
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 22px;
        top: 10px;
        background: $gray-100;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}
